<div class="navbar-container">
  <img class="logo" src="https://i.imgur.com/uU7W34t.png" alt="LOC8TE logo">
    <div class="navbar">
      <ul class="nav-links">
        <li>
        <%= link_to "Vehicles", vehicles_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Submit your Vehicle", new_vehicle_path, class:"nav-links"%>
        </li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, class: "button-primary" %>
    </div>
</div>

<div class="container my-4">
  <div class="form-info"></div>
    <div class="d-flex align-items-center justify-content-center my-3">
      <h1>Sign up</h1>
    </div>
    <hr>
    <img class="logo-icon" src="https://i.imgur.com/sVXVLFP.png" alt="">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
          <%= f.input :first_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :last_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
