<h1>
  Thank you
  <strong style="color: orange"><%= @booking.user.first_name %></strong>
  <strong style="color: orange"><%= @booking.user.last_name %></strong>
  for riding with us!
</h1>
<p>Your request has been correctly submitted and payment information accepted. Here are your booking details:</p>
<ul>
  <li>• Your vehicle will be a
  <strong style="color: orange"><%= @booking.vehicle.category %></strong>
  <strong style="color: orange"><%= @booking.vehicle.model %></strong> driven by
  <strong style="color: orange"><%= @booking.vehicle.driver_name %></strong>.
  </li>
  <li>• Start Date: <strong style="color: orange"><%= @booking.start_date %></strong>.</li>
  <li>• End Date: <strong style="color: orange"><%= @booking.end_date %></strong>.</li>
  <li>• Total Price: <strong style="color: orange"><%= @booking.total_price %></strong>$ for <strong style="color: orange"><%= (@booking.end_date - @booking.start_date).to_i %></strong> days.</li>
  <li>• Status: <strong style="color: orange"><%= @booking.status %></strong>.</li>
</ul>
<p>We hope you enjoy your ride and look forward to serving you again in the future!</p>
