<div class="navbar-container">
  <div class="logo">
  <%= link_to root_path do %>
    <%= image_tag "logo-white.png", alt: "Logo", class:"logo" %>
  <% end %>
  </div>
    <div class="navbar">
      <ul class="nav-links">
        <li>
        <%= link_to "Vehicles", vehicles_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Submit your Vehicle", new_vehicle_path, class:"nav-links"%>
        </li>
        <li>
        <% if user_signed_in? %>
          <%=link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-links"%>
        <% else %>
          <%= link_to "/users/sign_in", class: "nav-links" do %>
          Log in
          <% end %>
        <% end %>
        </li>
      </ul>
      <%= link_to "Log in", new_user_session_path, class: "navbar-button"%>
    </div>
</div>
