<h1>Edit Vehicle</h1>

<%= simple_form_for [@vehicle] do |f| %>
  <%= f.input :model %>
  <%= f.input :category %>
  <%= f.input :driver_name %>
  <%= f.input :base_price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Edit", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Go back to vehicle", vehicles_path(@vehicle) %></p>
<p><%= link_to "See all vehicles", vehicles_path %></p>
