<div class="navbar-container">
  <img class="logo" src="https://i.imgur.com/uU7W34t.png" alt="LOC8TE logo">
    <div class="navbar">
      <ul class="nav-links">
        <li>
        <%= link_to "Vehicles", vehicles_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Submit your Vehicle", new_vehicle_path, class:"nav-links"%>
        </li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, class: "button-primary" %>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center my-3">
  <h1>Vehicles currently Available</h1>
</div>

  <div class="cards">
    <ul>
      <% @vehicles.each do |vehicle| %>
        <%= link_to vehicles_path(vehicle), class: "text-decoration-none"%>

          <div class="cards-container">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')">
              </div>

            <li>
            <div class="card-description">
              <h2><%= vehicle.model %> driven by <%= vehicle.driver_name%></h2>
            </div>

            <div class="card-title justify-content-start">
              <p><%= vehicle.category %></p>
            </div>

            <div class="card-description">
              <p>Price: <%= vehicle.base_price %></p>
            </div>


            </li>
          </div>
      <% end %>
    </ul>
  </div>
