<div class="d-flex align-items-center justify-content-center my-3">
  <h1>Vehicles Currently Available</h1>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: vehicles_path, method: :get, class: "d-flex justify-content-center" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div id="vehicles">
        <% if @vehicles.any? %>
          <div class="cards">
    <% @vehicles.each do |vehicle| %>
        <div class="cards-container">
            <div class="card-category" style="background-image: url('https://images.unsplash.com/photo-1661281812258-129793403c61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80')">
            </div>
          <li>
          <div class="card-description my-2">
            <h2><%= link_to vehicle.model, vehicle_path(vehicle), class:"text-decoration-none text-black" %></h2>
          </div>

          <div class="card-description d-flex">
            <p><%= vehicle.category %></p>
          </div>

          <div class="card-description">
            <p><b>Starting Price </b></p> <h2>$<%= vehicle.base_price %></h2>
          </div>
          </li>
        </div>
    <% end %>
  </div>
        <% else %>
          <em>Sorry, no vehicles found.</em>
        <% end %>
      </div>
    </div>
  </div>
