<div class="navbar-container">
  <img class="logo" src="https://i.imgur.com/uU7W34t.png" alt="LOC8TE logo">
    <div class="navbar">
      <ul class="nav-links">
        <li>
        <%= link_to "Vehicles", vehicles_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Submit your Vehicle", new_vehicle_path, class:"nav-links"%>
        </li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, class: "button-primary" %>
    </div>
</div>

<div class="container my-4">
  <div class="form-info">
    <div class="d-flex align-items-center justify-content-center my-3">
    <h1>Submit your vehicle</h1>
    </div>
    <hr>
    <img class="logo-icon" src="https://i.imgur.com/sVXVLFP.png" alt="">
    <%= simple_form_for [@vehicle] do |f| %>
      <%= f.input :model %>
      <%= f.input :category %>
      <%= f.input :driver_name %>
      <%= f.input :base_price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="d-flex align-items-center justify-content-center my-3">
        <%= f.submit "Create", class: "button-primary" %>
      </div>
    <% end %>
    <p><%= link_to "See all vehicles", vehicles_path %></p>
  </div>
</div>
