<div class="navbar-container">
  <div class="logo">
  <%= link_to root_path do %>
    <img class="logo" src="https://i.imgur.com/uU7W34t.png" alt="LOC8TE logo">
  <% end %>
  </div>
    <div class="navbar">
      <ul class="nav-links">
        <li>
        <%= link_to "Vehicles", vehicles_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Submit your Vehicle", new_vehicle_path, class:"nav-links"%>
        </li>
        <li>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-links"%>
        </li>
      </ul>
      <%= link_to "Sign up", new_user_registration_path, class: "button-primary"%>
    </div>
</div>

<div class="container">
  <div class="car-body">
    <%= image_tag "https://media.istockphoto.com/id/1148853697/photo/3d-illustration-of-generic-compact-car-perspective-view.jpg?s=612x612&w=0&k=20&c=Hjp7XIILGWEvy5swlNoYAAAn9azvjeiU9L0R5CT5q9M=", class: "main-car " %>
    <div>
      <%= image_tag "https://media.istockphoto.com/id/1148853697/photo/3d-illustration-of-generic-compact-car-perspective-view.jpg?s=612x612&w=0&k=20&c=Hjp7XIILGWEvy5swlNoYAAAn9azvjeiU9L0R5CT5q9M=", class: "top-car " %>
      <%= image_tag "https://media.istockphoto.com/id/1148853697/photo/3d-illustration-of-generic-compact-car-perspective-view.jpg?s=612x612&w=0&k=20&c=Hjp7XIILGWEvy5swlNoYAAAn9azvjeiU9L0R5CT5q9M=", class: "bottom-car " %>
    </div>
  </div>
  <div class="car-details">
    <ul>
      <li class="list-styling"><h1><%= @vehicle.model.capitalize %></h1></li>
      <li class="list-styling">Driver: <%= @vehicle.driver_name %></li>
      <li class="list-styling">Category: <%= @vehicle.category %></li>
      <li class="list-styling">Price: <%= @vehicle.base_price %></li>
    </ul>
    <div class="car-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque quasi illo tempora molestiae libero quas praesentium qui excepturi unde, ipsum delectus consequuntur amet dicta vero sunt accusantium nihil voluptas!</p>
    </div>
    <div class="car-features">
      <h1>Additional Features</h1>
      <div class="feat">
        <ul class="feature-styling list-group list-group-flush">
          <li class="list-group-item">Music</li>
          <li class="list-group-item">Cupholders</li>
          <li class="list-group-item">USB</li>
        </ul>
      </div>
    </div>
  </div>
</div>
