<h1>Header</h1>
<%= image_tag "https://media.istockphoto.com/id/1148853697/photo/3d-illustration-of-generic-compact-car-perspective-view.jpg?s=612x612&w=0&k=20&c=Hjp7XIILGWEvy5swlNoYAAAn9azvjeiU9L0R5CT5q9M=" %>
<ul>
  <li><%= @vehicle.model %></li>
  <li><%= @vehicle.category %></li>
  <li><%= @vehicle.driver_name %></li>
  <li><%= @vehicle.base_price %></li>
</ul>
