<div class="container my-3">

  <div class="row">
    <div class="col-8">
      <%= image_tag(cl_image_path(@vehicle.photos.first.key), class: "main-car") %>
    </div>
    <div class="col-4">
      <%= image_tag(cl_image_path(@vehicle.photos.second.key), class: "top-car") %>
        <%= image_tag(cl_image_path(@vehicle.photos.last.key), class: "bottom-car") %>
    </div>
  </div>

  <hr>

  <h3> Find below all the information about this vehicle </h2>
  <p>
    This <strong style="color: orange"><%= @vehicle.model.capitalize %></strong> is offered for rent by <strong style="color: orange"><%= @vehicle.business.organisation_name %></strong>
  </p>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <i class="fa-solid fa-car" style="color: $dark-blue"></i>
      <span>Category: <strong style="color: orange"><%= @vehicle.category %></strong></span>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <i class="fa-solid fa-id-card" style="color: $dark-blue"></i>
      <span>  Driver: <strong style="color: orange"><%= @vehicle.driver_name %></strong></span>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <i class="fa-solid fa-money-bill" style="color: $dark-blue"></i>
      <span>  Price: <strong style="color: orange"><%= @vehicle.base_price%></strong></span>
    </div>
  </div>

  <hr>

  <div class="d-flex align-items-center justify-content-between mt-3 mb-3">
    <%= link_to "See all vehicles", vehicles_path, class: "button-primary" %>
    <%= link_to "Book now", '#', class: "button-primary" %>
    <%= link_to "Delete",
        '#',
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "button-primary"
    %>
  </div>

</div>
